@import "../html-snippets/navBar/navBar.css";
@import "../html-snippets/slideShow/slideShow.css";

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

#imgContainer {
    background-color: d9b6b4;
    padding-top: 2%;
}

img {
    opacity: 0.5
}

.responsiveImg {
    width: 70%;
    height: auto;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}

#Hintergrund1 {
    width: 100%;
    background-color: d9b6b4;
    height: auto;
    padding-bottom: 50px;
}

.headline {
    color: white;
    text-shadow: 2px 2px 5px black;
    font-size: 6vw;
    text-align: center;
    padding-top: 2%;
    margin: 0;
}
/*
#window2 {
    width: 100%;
    height: auto;
    border: 2px solid #ffff66;
    background-color: #ffff66;

    padding-top: 2%;

    align-content: center;

}*/

#Einfuehrungstext {
    margin-left: 10%;
    margin-right: 10%;
}

#EinfuehrungsTextBox {
    height: 50%;
    background-color: pink;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
}

.imgText {
    text-shadow: 2px 2px 5px black;
    overflow: hidden;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2vw;
}

#window2 {
    
    min-height: 100%;
    width: 100%;
    height: auto;
    border: 2px solid;
    

    padding-top: 7.5%;

    align-content: center;
    /*position: relative;
    padding-bottom: 3rem;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;*/
    background: linear-gradient(170deg, rgba(49, 57, 73, 0.8) 20%, rgba(49, 57, 73, 0.5) 20%, rgba(49, 57, 73, 0.5) 35%, rgba(41, 48, 61, 0.6) 35%, rgba(41, 48, 61, 0.8) 45%, rgba(31, 36, 46, 0.5) 45%, rgba(31, 36, 46, 0.8) 75%, rgba(49, 57, 73, 0.5) 75%), linear-gradient(45deg, rgba(20, 24, 31, 0.8) 0%, rgba(41, 48, 61, 0.8) 50%, rgba(82, 95, 122, 0.8) 50%, rgba(133, 146, 173, 0.8) 100%) #313949;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
