@import "../html-snippets/navBar/navBar.css";

html {
    scroll-behavior: smooth;
    background-color: bisque;
}

body {
    margin: 0;
    padding: 0;
}



h1 {
    color: black;
    text-shadow: 2px 2px 5px black;
    font-size: 4vw;
    text-align: center;
    padding-top: 2%;
    margin: 0;
}

p{
    font-size: x-large;
    text-align: justify;
}

.text {
  margin: auto;
  width: 80%;
  padding: 10px;
}
span{

    font-size: 2em;
}

input{
    padding: 2px;
    font-size: 2em;
}
button {

    padding: 2px 2px;
    font-size: 2em;

}