html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
}

#menue {
	width: 100%;
	height: 2.5em;
	background: #FFF;
}

#popup_button {
	cursor: pointer;
	position: relative;
	top: 0.25em;
	height: 2em;
	line-height: 1.75em;
	border: 2px solid #080;
	border-radius: 5px;
	width: 5em;
	box-sizing: border-box;
	left: 0.4em;
	background: #0A0;
	color: #FFF;
	font-family: sans;
	font-weight: bold;
	text-align: center;
}

.popup_content {
	visibility: hidden;
	position: fixed;
	left: 50%;
	top: 50%;
	width: 25%;
	height: 25%;
	margin-left: -12.5%;
	margin-top: -12.5%;
	background: #FFF;
	color: #000;
	text-align: center;
	border-radius: 7px;
}

.show {
	visibility: visible;
}

#popup_header {
	height: 2em;
}

#popup_close_button {
	cursor: pointer;
	background: #F00;
	width: 5em;
	position: absolute;
	right: 0px;
	box-sizing: border-box;
	border-bottom-left-radius: 7px;
	font-family: sans;
	color: white;
	font-size: 14px;
	padding-top: 0.25em;
	text-align: center;
}


.dropdown {
	position: relative;
	cursor: pointer;
	top: -1.75em;
	left: 6em;
	height: 2em;
	width: 4em;
	font-family: sans;
	line-height: 2.25em;
}

.dropdown_text {
	position: relative;
	left: 0.5em;
}

.undecorated_link {
	text-decoration: none;
	color: inherit;
}

.dropdown_content {
	visibility: hidden;
	position:relative;
	top: -1px;
	min-width: 10em;
	background: #FFF;
}

.dropdown .show {
	visibility: visible;
}

#grossebox {
    width: 100%;
    background-color: lightblue;
    height: 100%;
    padding-bottom: 50px;
}

#button {
    margin-top: 200px;
    margin-left: 670px;
    margin-right: 200px;
}

#headline {
  color: white;
  text-shadow: 2px 2px 5px black;
  font-size: 70px;
  margin-left: 520px;
}

#text {
    margin-left: 200px;
    margin-right: 200px;
}

#kleinebox {
	height: 20%;
    background-color: pink;
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
}

.themenfeld {
    border: 4px solid grey;
    float: left;
	box-sizing: border-box;
	height: 3em;
	line-height: 2.75em;
    width: 33.33%;
    background-color: lightgrey;
    text-align: center;
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
}

.themenfeld div {
	max-width: 80%;
	border: 3px solid black;
	margin: 0 auto;
	word-wrap: break-word;
}

#themenfeldbox{
    width: 100%;
}

#window2 {
    width: 100%;
    min-height: 100%;
    border: 2px solid #ffff66;
    background-color: #ffff66;
}

#textfeld2 {
    background-color: #ffff66;
    width: 80%;
	margin: 0 auto;
	margin-top: 10%;
	margin-bottom: 10%;
    min-height: 30%;
	border: 3px solid black;
}

#text2 {
    color: grey;
    text-align: center;
    font-size: 1.5em;
    font-family: "Times New Roman", Times, serif;
}

@media (max-width: 721px) {
	.themenfeld {
		float: none;
		width: 80%;
		margin: 0 auto;
		height: 4em;
	}

	.themenfeld div {
		height: 3em;
	}

	.menue {
		min-height: 4em;
	}
}