body {
	margin: 0;
	padding: 0;
}

#menue {
	width: 100%;
	height: 4%;
	background: #E0E080;
}

.menue_eintrag {
	height: 100%;
	padding: 0.5em 1em 0em 1em;
	float: left;
	background: inherit;
	color: #505050;
	font-family: sans;
	font-size: 1em;
	box-sizing: border-box;
}

.menue_eintrag:hover {
	color: #E0E0E0;
	background: #505050;
}

#menue_text {
	float: left;
	margin-left: 5em;
	color: #909000;
	font-style: italic;
	font-family: serif;
	font-size: 1.5em;
	padding-top: 0.2em;
}