body {
    margin: 0;
    padding: 0;
}

#navbar {
/*      overflow: hidden;*/
    background-color: #333;
    min-height: 3em;
    z-index: 9999;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.parent {
    z-index: inherit;
    min-height: 3em;
    text-align: center;
    font-size: 16px;
    display: block;
    position: relative;
    float: left;
    line-height: 3em;
    background-color: #333;
    border-right:#333 1px solid;
}
.parent a{
    z-index: inherit;
    margin: 10px;
    height: 100%;
    line-height: 3em;
    color: #FFFFFF;
    text-decoration: none;
}

.parent:hover > ul {
    display:block;
    position:absolute;
}

.child {
    display: none;
}

.child li {
    z-index: inherit;
    padding: 0px;
    background-color: #333;
    line-height: 3em;
    border: #333 1px solid;
    width:100%;
}
.child li a{
    z-index: inherit;
    color: #f2f2f2;
    margin: 0px; 
    display: block; 
    width: 100%; 
    height: 100%;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0px;
    min-width:10em;
}

ul ul ul{
    left: 100%;
    top: 0;
    margin-left:1px;
}

li:hover {
    background-color: #d9b6b4;
}
.parent li:hover {
    background-color: #d9b6b4;
}
.expand{
    font-size:12px;
    float:right;
    margin-right:5px;
}