/* @import "../html-snippets/navBar/navBar.css"; */

html {
    scroll-behavior: smooth;
}

/* body {
    margin: 0;
    padding: 0;
} */

#canvas {
    /*position: relative;*/
    width: 500px;
    height: 500px;
    border: 1px solid black;
    cursor: crosshair;
}

#sketching_panel {
    display: table;
    width: 300;
    height: 50;
    border: 1px solid black;
}


:root {
  --kb-color: silver;
}

body {
  background: var(--kb-color);
}
